/.nb-gradle/
.idea/
/build/
/.gradle/

# native code
/src/main/resources/eu/mihosoft/ugshell/ugdist/linux/
/src/main/resources/eu/mihosoft/ugshell/ugdist/osx/
/src/main/resources/eu/mihosoft/ugshell/ugdist/windows/

# build info
/src/main/java/eu/mihosoft/ugshell/ugdist/BuildInfo.java

